body{
    margin: 0;
    padding: 0;
    background-image: url(imagenes/Infierno\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.titu{
    width: 100px;
    color: aliceblue;
    
}
.iconos{
    display: flex;
    justify-content:right;
    margin: 2%;
}
